.footer {
  margin-bottom: $line-height-computed;
  padding-top: 12px;
  border-top: 2px solid $gray-lighter;
  color: $gray-dark;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $font-size-small;
}
