html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

select {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color: $brand-primary;
  background-repeat: no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  padding: 12px;
  width: auto;
  border-radius: $border-radius-base;
  border: 0;
  outline: 0;
  color: #fff;
  font-family: arial, tahoma;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;

  @include appearance(none);
  @include transition(0.3s ease all);
}
