@charset "utf-8";

// Fonts
// --------------------
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,600italic,700italic,700";
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);

// Variables
// --------------------

$brand-primary: #0c9a5d;

$link-color: $brand-primary;

$nav-link-hover-bg: #fff;
$nav-tabs-active-link-hover-bg: #fff;

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Droid Serif", Times, Georgia, serif;

$font-size-base: 16px;

$container-tablet:             500px;
$container-desktop:            740px;
$container-large-desktop:      740px;

// Bootstrap
// --------------------
@import "bootstrap";

// Bourbon
// --------------------
@import "bourbon";

// Modules & Pages
// --------------------
@import "modules/*";
